@using Core.Features.BlogPost.Models;
@model IEnumerable<BlogPostViewModel>

@if (Model?.Any() != true)
{
    return;
}

<div class="blogpost-list">

    @foreach (var blogPost in Model)
    {
        var blogPostUrl = Url.Page("BlogPost", new { id = blogPost.Slug });
        blogPost.Image.LinkUrl = blogPostUrl;

        <div class="blogpost-list-item">

            <div>
                <partial name="~/Pages/Partials/_Thumbnail.cshtml" model="@blogPost.Image" />
            </div>

            <div>
                <a href="@blogPostUrl">
                    <h2>@blogPost.Title</h2>
                </a>

                <p><time>@blogPost.CreatedAt?.ToString("D")</time></p>

                @if (blogPost.Categories?.Any() == true)
                {
                    <p class="blogpost-categories">
                        @foreach (var category in blogPost.Categories.OrderBy(_ => _.Title))
                        {
                            <a asp-page="Category" asp-route-id="@category.Slug">@category.Title</a>
                        }
                    </p>
                }

                @blogPost.Intro
            </div>

        </div>
    }

</div>
