@using Core.Features.Image
@model Core.Features.Image.ImageViewModel

@if (Model == null)
{
    return;
}

@{
    const int imageWidth = 1024;
    const int imageHeight = 768;
}

<figure>
    @if (!string.IsNullOrEmpty(Model.LinkUrl))
    {
        <a href="@Model.LinkUrl">
            <picture>
                @foreach (var source in Model.GetImageSources(imageWidth, imageHeight))
                {
                    <source media="@source.Media" srcset="@source.SrcSet">
                }
                <img src="@Model.GetUrl(imageWidth, imageHeight)" alt="@Model.AltText" width="@imageWidth" height="@imageHeight">
            </picture>
        </a>
    }
    else
    {
        <picture>
            @foreach (var source in Model.GetImageSources(imageWidth, imageHeight))
            {
                <source media="@source.Media" srcset="@source.SrcSet">
            }
            <img src="@Model.GetUrl(imageWidth, imageHeight)" alt="@Model.AltText" width="@imageWidth" height="@imageHeight">
        </picture>
    }

    @if (Model.ShowCaption
        && !string.IsNullOrEmpty(Model.Caption))
    {
        <figcaption>
            @Model.Caption
        </figcaption>
    }

</figure>
