@model IEnumerable<Blog.Features.BlogPost.Models.BlogPostViewModel>

@if (Model?.Any() != true)
{
    return;
}

@foreach (var blogPost in Model)
{
    var blogPostUrl = Url.Page("BlogPost", new { id = blogPost.Slug });

    <div class="blogpost-list-item">

        <div>
            @if (blogPost.Image != null)
            {
                blogPost.Image.LinkUrl = blogPostUrl;
                <partial name="~/Pages/Partials/_Thumbnail.cshtml" model="@blogPost.Image" />
            }
        </div>

        <div>
            <a href="@blogPostUrl">
                <h2>@blogPost.Title</h2>
            </a>

            @if (!string.IsNullOrEmpty(blogPost.Intro))
            {
                <p>@blogPost.Intro</p>
            }

            <p class="published">
                Published: <time>@blogPost.PublishedAt?.ToString("yyyy-MM-dd")</time>
            </p>

        </div>

    </div>
}