@page "{id?}"
@model BlogPostModel

<article>

    @if (Model.BlogPosts.Count() == 1)
    {
        var blogPost = Model.BlogPosts.First();

        <h1>@Model.Title</h1>

        <partial name="~/Pages/Partials/_Image.cshtml" model="@blogPost.Image" />

        <div class="page">

            <div class="content">
                @if (blogPost.Categories?.Any() == true)
                {
                    <p class="blogpost-categories">
                        @foreach (var category in blogPost.Categories.OrderBy(_ => _.Title))
                        {
                            <a asp-page="Category" asp-route-id="@category.Slug">@category.Title</a>
                        }
                    </p>
                }

                <p>
                    Published: <time>@blogPost.PublishedAt?.ToString("yyyy-MM-dd")</time>
                </p>

                @if (!string.IsNullOrEmpty(blogPost.Intro))
                {
                    <p class="blogpost-intro">
                        @blogPost.Intro
                    </p>
                }

                @Html.Raw(blogPost.Body)

                <partial name="~/Pages/Partials/_Form.cshtml" model="@blogPost.TypeformFormId" />
                
                <h2>Comments</h2>

                <div id="cusdis_thread"
                     data-host="https://cusdis.com"
                     data-app-id="8408891b-fcd5-4eb0-956e-48ffe66ef173"
                     data-page-id="@Model.Id"
                     data-page-url="@($"https://basementmedia.no/blogpost/{Model.Id}")"
                     data-page-title="@Model.Title"></div>
                <script async defer src="https://cusdis.com/js/cusdis.es.js"></script>

                <p><a asp-page="BlogPost" asp-route-id="">All blog posts →</a></p>

            </div>

            <aside>
                <partial name="~/Pages/Shared/_Aside.cshtml" model="@blogPost.Author" />
            </aside>

        </div>
    }
    else if (Model.BlogPosts.Count() > 1)
    {
        <h1>Blog posts</h1>

        <partial name="~/Pages/Partials/_BlogPosts.cshtml" model="@Model.BlogPosts" />
    }
    else if (!string.IsNullOrEmpty(Model.Id))
    {
        <h1>Sorry, couldn't find any blog posts with id "@Model.Id"</h1>
    }
    else
    {
        <h1>Sorry, couldn't find any blog posts</h1>
    }

</article>
