@page "{id?}"
@model PageModel

<article>

    @if (Model.CurrentPage != null)
    {
        <h1>@Model.Title</h1>

        <partial name="~/Pages/Partials/_Image.cshtml" model="@Model.CurrentPage.Image" />

        @Html.Raw(Model.CurrentPage.Body)

        <p>Created at: <time>@Model.CurrentPage.CreatedAt?.ToString("yyyy-MM-dd, HH:mm")</time> &ndash; Updated at: <time>@Model.CurrentPage.UpdatedAt?.ToString("yyyy-MM-dd, HH:mm")</time></p>
    }
    else
    {
        <h1>Sorry, couldn't find page with id "@Model.Id"</h1>
    }

</article>