@page "{id?}"
@model PageModel

<article>

    @if (Model.CurrentPage != null)
    {
        <h1>@Model.Title</h1>

        <partial name="~/Pages/Partials/_Image.cshtml" model="@Model.CurrentPage.Image" />

        <div class="page">
            <div></div>
            <div class="content">
                @Html.Raw(Model.CurrentPage.Body)

                <p class="published">
                    Published: <time>@Model.CurrentPage.CreatedAt?.ToString("yyyy-MM-dd")</time> &ndash;
                    Updated: <time>@Model.CurrentPage.UpdatedAt?.ToString("yyyy-MM-dd")</time>
                </p>
            </div>
            <div></div>
        </div>
    }
    else
    {
        <h1>Cannot find page</h1>
        <p>Sorry, couldn't find page with id <em>@Model.Id</em>.</p>
    }

</article>