@* Handle old blog urls on the format
 /2019/03/blog-post-slug *@
@page "{param1?}/{param2?}/{param3?}/{param4?}"
@model IndexModel

@if (Model == null)
{
    return;
}

<article>

    <h1>A programmer's notebook</h1>
    
    <partial name="~/Pages/Partials/_BlogPosts.cshtml" model="@Model.BlogPosts" />

    <environment include="Development">
        <partial name="~/Pages/Partials/_BlogPosts.cshtml" model="@Model.BlogPosts" />
        <partial name="~/Pages/Partials/_BlogPosts.cshtml" model="@Model.BlogPosts" />
        <partial name="~/Pages/Partials/_BlogPosts.cshtml" model="@Model.BlogPosts" />
        <partial name="~/Pages/Partials/_BlogPosts.cshtml" model="@Model.BlogPosts" />
    </environment>
    
    <p><a asp-page="BlogPost" asp-route-id="">All blog posts →</a></p>

</article>
